<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubwatcherljw20.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b56c363-be2e-4c19-aa07-fe7271eb0867/resourcegroups/ljwServerless_rg/providers/Microsoft.Web/sites/GitHubWatcherLJW20</ResourceId>
    <UserName>$GitHubWatcherLJW20</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubwatcherljw20.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>